.review-form-subcomponent {
  min-height: 100vh;
  background-color: #212223;
  margin: 0 !important;
}
#dual-nav-btn-container {
  margin-top: 4em;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
